<div class="page-header">
	<h1>{{device.name || 'New Device'}}</h1>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12">
		<message type="{{message.type}}" show="message.show" message="{{message.text}}"></message>
	</div>
</div>

<form novalidate name="formulario" class="row" ng-submit="post()">
	
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="form-group">
						<label for="name">Name</label>
						<input class="form-control" id="name" name="name" required ng-minlength="3" ng-maxlength="150" ng-model="device.name" ng-model-options="{debounce:500}"/>
						<span ng-show="formulario.$submitted && formulario.name.$error.required" class="form-control alert-danger">name obrigatório</span>
						<span ng-show="formulario.name.$error.maxlength" class="form-control alert-danger">Name too big</span>
						<span ng-show="formulario.name.$error.minlength" class="form-control alert-danger">Name too short</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="form-group">
						<label for="location">Location</label>
						<select class="form-control" id="location" name="location" required ng-model="device.location">
							<option value="">Select location</option>
							<option value="not at home">not at home</option>
							<option value="garage">garage</option>
							<option value="garden">garden</option>
							<option value="bathroom">bathroom</option>
							<option value="bedroom 1">bedroom 1</option>
							<option value="bedroom 2">bedroom 2</option>
							<option value="bedroom 3">bedroom 3</option>
							<option value="living room">living room</option>
							<option value="dining room">dining room</option>
							<option value="kitchen">kitchen</option>
							<option value="hallway">hallway</option>
							<option value="storage room">storage room</option>
						</select>
						<span ng-show="formulario.$submitted && formulario.location.$error.required" class="form-control alert-danger">Location obrigatório</span>
						<span ng-show="formulario.location.$error.maxlength" class="form-control alert-danger">Location too big</span>
						<span ng-show="formulario.location.$error.minlength" class="form-control alert-danger">Location too short</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="form-group">
						<label for="feature">Feature</label>
						<div class="input-group">
							<input name="feature" class="form-control input-lg" ng-minlength="3" ng-maxlength="200" ng-model="func.name" ng-model-options="{debounce:500}"/>
							<span class="input-group-addon">
							<toggle-switch 
			                	class="switch-mini switch-success"
			                	html="true"
			                	on-label='<i class="glyphicon glyphicon-ok"></i>'
			                	off-label='<i class="glyphicon glyphicon-off"></i>'
			                	ng-model="func.status">
			            	</toggle-switch>
			            	</span>
			            	<span class="input-group-addon">
			            		<button type="button" name="newFunc" class="btn btn-sm btn-primary" ng-click="addFeature()"><i class="glyphicon glyphicon-plus"></i></button>
			            	</span>
			            </div>
						<span ng-show="formulario.feature.$error.maxlength" class="form-control alert-danger">Name too big</span>
						<span ng-show="formulario.feature.$error.minlength" class="form-control alert-danger">Name too short</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<table class="table table-responsive table-bordered table-striped">
						<thead>
							<tr>
								<th colspan="2" class="text-center">Features</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="func in device.features">
								<td>{{func.name}}</td>
								<td class="text-center">
									<button type="button" class="btn btn-sm btn-danger" ng-click="removeFeature(func)"><i class="glyphicon glyphicon-remove"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="xml">XML</label>
						<textarea name="xml" style="height:350px;" class="form-control" ng-model="device.xml"></textarea>
					</div>
				</div>
			</div>			
			<div class="row">	
				<div class="col-xs-12">
					<div class="form-group">
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<input type="submit" name="enviar" value="Save" class="btn btn-success" ng-disabled="formulario.$invalid"/>
							</div>
							<div class="col-xs-12 col-sm-6 text-right">
								<a href="/" class="btn btn-primary">Devices</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>